body{
	
}
#navbar{
  background: #0c122c; 
}
.container-fluid{	
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
li{
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
ul{
	padding-left: 0px !important;
}  
.navbar-header a img{
  margin-top: 13px;
  padding-left:50px;
}
#navbar .nav {
	margin-right:20px;
}
.navbar-default .navbar-nav>li>a {
    color: #e6e3e3 !important;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important; 
	border: 0px !important;
}

#navbar .nav li{	
	margin-right:10px;
	padding-top:5px;	
}

#navbar .nav li a{
	font-weight: bold;
}

#navbar .nav li a:hover{
	font-weight: bold;
	opacity:.8;
	color:#fff;
}

#navbar .nav li:nth-child(8){
	padding-top:0px !important;
}

#navbar .nav li:nth-child(8):hover{
	opacity:0.7;	
}

.email-login{
	
	margin-top: 60px;
    margin-bottom: 60px !important;
    background: transparent;
    padding: 9%;
    width: 80%;
    border-radius: 5px;
    height: auto;
    box-shadow: 1px 1px 9px 1px grey;
    margin-left: 30px;
    color: white;
    font-weight: bold;
	}
.btn-success, .btn-success:hover{
	    color: #0d112d;
	    background: transparent;
    border-color: #0d112d;
}
.hvr-sweep-to-bottom:before{
	background-color: #0d112d !important;
}
.social-link h4{
	text-align: center;
}
.social-link img{
	border-radius: 5px;
	    margin-top: 10px;
}
.login-button{
	margin-bottom: 10px;
}
.biker-login{
	background: url(../images/bike-login.jpg);
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
}

.main h1{
	font-size: 40px;
	margin-top: 60px;
	 text-align: center;
	 color: #0d112d;
}

.main h3{
	text-align: center;
    color: white;
    font-weight: bold;
}
.main .right{
	float: right;
}
.main button{
	border-radius: 2px !important;
	width: 150px;
	height: auto;
	margin: 10px 0px;
}

.main img{
	width:100%;
	height: 40px;
}
.main img:hover{
	opacity: .7;
}
.col-lg-7, col-md-7, col-sm-7, col-xs-12{
	padding-right:20px;
	border-right: 1px solid #0c122c;
}

.footer{	
	height:250px;
	background:#0c122c !important;
}

.footer ul{
	list-style-type: none;
	margin-top:40px;
	padding-left: 0px !important;
	}
.footer li h4{
	color:#fff;
}
.footer-dash{
background:#fff !important;
display: block;
margin: 0 auto;
padding-top: 20px;
}
.footer-dash p{
color: #4e4e4e !important;
}
.footer-dash li h4{
	margin-bottom: 20px;
	color:#000 !important;
}
.footer-dash li{
	margin-bottom: 10px;
}

.footer-dash a{
	color:#4e4e4e !important;
	}

.input-group-lg>.input-group-addon{
    height: 30px !important;
    padding: 0px 1px !important;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px !important;
}
/*register.css */

.register-well{
	
	margin-top: 60px;
	margin-bottom: 60px !important;
	background: #fff !important;
	padding: 2%;
	width:75%;
	height:690px;
	border: 4px solid #0c122c !important;
	box-shadow: 5px 5px 5px grey !important;
	margin-left: 12% !important;
	}

/* Forgot css*/

.forgot-well{	
	margin-top: 60px;
	margin-bottom: 60px !important;
	background: #fff !important;
	padding: 2%;
	width:75%;
	height:200px;
	border: 4px solid #0c122c !important;
	box-shadow: 5px 5px 5px grey !important;
	margin-left: 12% !important;
	}
	
@media only screen and (max-width:768px) {
.navbar-header{
	background: #0c122c;
}
.navbar-header a img{
  margin-top: 10px;
  padding-left:0px;
}
.col-xs-12{
 	padding-right:0px !important; 
	padding-left:5px !important;
	border-right:none; 
}
.well{	
	margin-top: 40px;
	margin-left: 10% !important;
	width:80%;
	height:630px;
	}
.footer{	
	height:700px;
	background:#0c122c !important;
}
.main h1{
	font-size: 30px;
	margin-top: 100px;
	}

.register-well{
	
	margin-top: 40px;
	margin-bottom: 60px !important;	
	height:830px;
	margin-left: 10% !important;
	}	
.forgot-well{	
	margin-top: 40px;
	width:75%;
	height:190px !important;
	margin-left: 12% !important;
	}	
}
@media only screen and (max-width:768px) {
	.main h1{
	font-size: 28px;
	margin-top: 100px;
	}

.well{	
	margin-top: 20px;	
	width:95%;
	height:620px;
	margin-left: 3% !important;
	}
	
.register-well{	
	margin-top: 40px;
	margin-bottom: 60px !important;	
	height:830px;
	margin-left: 2% !important;
	}	
}
